body{
    color:black;
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.navbar{
    display: flex;
    border: 2px solid black;
    background-color: lavender;
}
div.nav{
    font-size: 1.1em;
    width:calc(100%);
    font-weight: bolder;
    text-align: center;
}

div.foodBox{
    display: flex;
}

img.images{
    width:90%;
    border: 5px outset 
    rgb(153,255,153);
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    
}

div.fi{
    text-align: center;
    width: 33%;
}

div.footbar{
    display: flex;
    border: 2px solid black;
}

div.foot{
    font-size: 1.1em;
    background-color: lavender;
    width: calc(25%);
}

@media (orientation:landscape){
    body{
        flex-direction: row;
    }

    div.foot{
        font-size: 0.75em;
        width: 25%;
    }
}

@media (orientation:portrait){
    body{
            flex-direction: column;
            margin-left: 7%;
            margin-right: 7%;
        }
    h1{
            color:black;
            margin-bottom: 1.0em;
            width: 200px;
        }

    div.foot{
            font-size: 0.4em;
            width: 25%;
        }
    }



