body{
    color:black;
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    
}

div.navbar{
    display: flex;
    border: 2px solid black;
    background-color: lavender;
}
div.nav{
    font-size: 1.1em;
    width:calc(100%);
    font-weight: bolder;
    text-align: center;

}

h1.center{
    text-align: center;
    border: 3px outset black;
    background-color:  rgb(153,255,153);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 7px;
    padding-bottom: 7px;
}

img#healthy{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px outset rgb(153,255,153);
    margin-bottom: 50px;
}

h3.heads{
    background-color: lavender;
    width: fit-content;
}

p.paras{
    text-indent: 25px;
}

div.buttonBox{
    display: flex;
}
div.button{
    width: calc(50%);
    text-align: center;
    margin-bottom: 5%;
}

div.footbar{
    display: flex;
    border: 2px solid black;
}

div.foot{
    font-size: 1.1em;
    background-color: lavender;
    width: calc(33%);
}

@media (orientation:landscape){
    body{
        flex-direction: row;
    }

    div.foot{
        font-size: 0.75em;
        width: 25%;
    }
}

@media (orientation:portrait){
    body{
        flex-direction: column;
    }

    h1{
        font-size: 1.0em;
    }
   
    div.foot{
            font-size: 0.37em;
            width: 25%;
        }
    

    div.footbar{
        background-color: lavender;
    }

    img#healthy{
        width: 60%;
    }

}
